/*user interface styling*/
.buttonbox{
    background:black;
    width:460px;
    height:100px;
}
.backgroundbox{
    background:grey;
    width:960px;
    height:520px;
}

.animationbox{
    float:left;
    margin:10px;
    background:black;
    width:300px;
    height:200px;
}

.buttonbox{
    display: flex;
    align-items: center;
}

#animatebutton , #svgbutton, #downloadbutton {
    display:inline-block;
    margin:30px;
    }

    
    

    .controls{
        margin:10px;
    }
    

    

    .static{
            
            visibility: hidden;
        
    }

    .animate{
        visibility: visible;
    }

    .nonactivesvgcode{
        display: none;
    }

    .activesvgcode{
        display: block;
    }

    .visiblesvgimage{
        display: block;
    }

    .nosvgimage{
        display: none;
    }

    #sourcecodestyling{
        width:400px;
        height:480px;
        background:white;
        margin:10px;
    }

    svg {
        transition: transform 0.1s linear 0.1s;
      }

      .ghosthover1:hover {
        
        animation: shake 0.85s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }